<aside class="sidebar">
  <div class="brand">
   <div class="logo">
  <img src="favicon.ico" alt="Logo gastos" />
</div>

    <div class="brand-text">
      <div class="title">GASTOS  </div>
      <div class="subtitle">Management</div>
    </div>
  </div>
  
<nav class="menu">

  <a routerLink="/app/gastos" routerLinkActive="active">
    <mat-icon>attach_money</mat-icon>
    <span class="text">Gastos</span>
  </a>

  <a routerLink="/app/categoria" routerLinkActive="active">
    <mat-icon>payments</mat-icon>
    <span class="text">Categoria</span>
  </a>


</nav>
</aside>
